*{
margin:0;
padding: 0;
box-sizing:border-box;
background-color: brown;
}

body{
width:0
height:100vh;
display: flex;
flex-direction:colum;
}

body > header{
width:100%
height: auto;
display: flex;
}

body > header > nav{
flex:1;
}
body > header > na > ul {
display: flex
justifi- content: space-around;
}
body > header > nav > ul > li{
list-style:name;
padding: 10px;
font-size: 20px;
}
