<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script th:src="@{/js/tailwind.config.js}"></script>
</head>

<body style="background-color: lightgray;" class="flex flex-col justify-center items-center" th:fragment="registro">
    <div class="w-[50vh] h-[70vh] flex flex-col justify-center items-center rounded-lg"
        style="background-color: whitesmoke;">
        <article th:fragment="login" class="w-full h-full flex flex-col justify-center items-center">
            <article class="w-[20vh] h-[30%] flex justify-evenly items-center">
                <img src="https://res-console.cloudinary.com/dqoejlc6m/media_explorer_thumbnails/3ec5055602f7a9efb5ba8dab97f84092/detailed"
                    alt="">
            </article>
            <form th:action="@{/registro}" th:object="${Users}" method="post" class="w-[70%] h-[50vh] flex flex-col justify-evenly">
                <input th:field="*{name}" type="text" placeholder="Name"
                    class="rounded-md border-solid border-b-2 border-blue-900 outline-none focus:border-yellow-900">
                <input th:field="*{lastName}" type="text" placeholder="LastName"
                    class="rounded-md border-solid border-b-2 border-blue-900 outline-none focus:border-yellow-900">
                <input th:field="*{email}" type="email" placeholder="Email"
                    class="rounded-md border-solid border-b-2 border-blue-900 outline-none focus:border-yellow-900">
                <input th:field="*{password}" type="password" placeholder="Password"
                    class="rounded-md border-solid border-b-2 border-blue-900 outline-none focus:border-yellow-900">
                <label for="description">Description</label>
                <textarea th:field="*{description}" id="description" cols="30" rows="5"
                    class="rounded-md border-solid border-2 border-blue-900"></textarea>
                <input type="submit" value="Registrar"
                    class="bg-blue-400 rounded-md border-2 border-solid border-black text-white">
            </form>
            
        </article>
    </div>
</body>

</html>